/* Layout fixes */

.space20 {
    height: 20px;
}

.space30 {
    height: 30px;
}

.space40 {
    height: 40px;
}

.space60 {
    height: 60px;
}

.hspace20 {
    margin-left: 20px;
}

img.with-border {
    border: 1px solid black;
}

table.custom-table img.custom-thumb {
    margin: 10%;
    width: 80%;
    max-height: 75%;
}

table.custom-table {
    table-layout: fixed;
}

table.custom-table th, table.custom-table td {
    overflow: hidden;
}

table.custom-table td:nth-child(1) {
    width: 10%;
    height: 50px; 
}

table.custom-table td:nth-child(2) {
    width: 90%;
    height: 50px;
}

table.custom-table td p {
    margin: 0px;
}

table.custom-table td {
    vertical-align: middle;
}

/* Classes */

p.ellipsis {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.redp {
    color: red;
    font-weight: bold;
}